## Cosine Similarity

### (A) Cosine similarity with scikit-learn

In [1]:
doc_list = [
"Start spreading the news",
"You're leaving today (tell him friend)",
"I want to be a part of it, New York, New York",
"Your vagabond shoes, they are longing to stray",
"And steps around the heart of it, New York, New York"
]

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
cv = CountVectorizer()
cv_fit = cv.fit_transform(doc_list)
word_list = cv.get_feature_names_out()
count_list = cv_fit.toarray().sum(axis=0)

In [3]:
cv_fit.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 2, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 2, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 2, 0, 0]])

In [4]:
df = pd.DataFrame(cv_fit.toarray())

In [5]:
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(df, df))

[[1.         0.         0.         0.         0.12909944]
 [0.         1.         0.         0.         0.        ]
 [0.         0.         1.         0.09449112 0.69006556]
 [0.         0.         0.09449112 1.         0.        ]
 [0.12909944 0.         0.69006556 0.         1.        ]]

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,1,0,1,0,...,1,0,0,0,1,0,0,0,1,0
2,0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,1,2,0,0
3,0,1,0,0,0,0,0,0,0,1,...,0,0,1,1,0,1,0,0,0,1
4,1,0,1,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,2,0,0

In [7]:
word_list

array(['and', 'are', 'around', 'be', 'friend', 'heart', 'him', 'it',
       'leaving', 'longing', 'new', 'news', 'of', 'part', 're', 'shoes',
       'spreading', 'start', 'steps', 'stray', 'tell', 'the', 'they',
       'to', 'today', 'vagabond', 'want', 'york', 'you', 'your'],
      dtype=object)

In [8]:
len(word_list)

30

In [9]:
df_level = pd.DataFrame(cv_fit.toarray(), columns=word_list)

In [10]:
df_level

,and,are,around,be,friend,heart,him,it,leaving,longing,...,tell,the,they,to,today,vagabond,want,york,you,your
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,1,0,1,0,...,1,0,0,0,1,0,0,0,1,0
2,0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,1,2,0,0
3,0,1,0,0,0,0,0,0,0,1,...,0,0,1,1,0,1,0,0,0,1
4,1,0,1,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,2,0,0

In [17]:
v1 = [0, 1]
v2 = [1, 0]
v3 = [1, 1]
v4 = [0, 0]

In [12]:
print(cosine_similarity([v1, v2]))

[[1. 0.]
 [0. 1.]]

In [14]:
cosine_similarity([v1, v2])

array([[1., 0.],
       [0., 1.]])

In [16]:
cosine_similarity([v1, v3])

array([[1.        , 0.70710678],
       [0.70710678, 1.        ]])

In [25]:
cosine_similarity([v3, v4])

array([[1., 0.],
       [0., 0.]])

In [26]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

v5 = pd.Series([1, 2, 3])
v6 = pd.Series([4, 5, 6])

cosine_similarity([v5, v6])

array([[1.        , 0.97463185],
       [0.97463185, 1.        ]])

In [27]:
cosine_similarity([v1, v2, v3, v4])

array([[1.        , 0.        , 0.70710678, 0.        ],
       [0.        , 1.        , 0.70710678, 0.        ],
       [0.70710678, 0.70710678, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ]])